services:
  mongodb:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - ./data/db:/data:db
    ports:
      - "27017:27017"

  react-dev:
    build:
      context: .
      dockerfile: Dockerfile.bun
    image: assesstment-dev
    container_name: assesstment-dev
    ports:
      - "3000:3000"
    develop:
      watch:
        - action: sync
          path: .
          target: /app
    environment:
      env_file: .env.local
